.top-container {
  position: relative;
  padding-top: 100px;
}
hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 10%;
}
h1 {
  margin: 50px auto 0 auto ;
  color: black;
  text-shadow: 2px 2px 4px grey;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}
h3{
  font-family: 'Montserrat', sans-serif;
}
.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 180px;
}
.top-cloud{
  position: absolute;
  top: 50px;
  right: 300px;
}
body {
  background-color: #68B0AB;
  text-align:center;
  font-family: cursive;
}
.bottom-container{
  margin-top: 10px;
}
